<?xml version="1.0" encoding="UTF-8" ?>

<included>
    <property name="log_pattern_kafka"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%tid] - %msg%n"/>

    <!-- 控制台日志输出(携带skywalking TraceId) -->
    <appender name="kafka-sk-appender" class="cn.mina.boot.logging.appender.LogKafkaAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <pattern>${log_pattern_kafka}</pattern>
            </layout>
        </encoder>
    </appender>

</included>