<?xml version="1.0" encoding="UTF-8" ?>

<included>
    <property name="log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- kafka日志输出 -->
    <appender name="logstash-appender" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
<!--        logstash 地址: logstash:4560-->
        <destination>${logstash_url}</destination>
        <param name="Encoding" value="UTF-8"/>
        <encoder  charset="UTF-8"  class="net.logstash.logback.encoder.LogstashEncoder" >
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

</included>